################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinancialApp/v17/.wsuo
/.vs/FinancialApp/v17/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/api/obj/Debug/net9.0/api.AssemblyInfo.cs
/api/obj/Debug/net9.0/api.AssemblyInfoInputs.cache
/api/obj/Debug/net9.0/api.assets.cache
/api/obj/Debug/net9.0/api.GeneratedMSBuildEditorConfig.editorconfig
/api/api.csproj.user
/api/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/api/obj/Release/net9.0/api.AssemblyInfo.cs
/api/obj/Release/net9.0/api.AssemblyInfoInputs.cache
/api/obj/Release/net9.0/api.csproj.AssemblyReference.cache
/api/obj/Release/net9.0/api.assets.cache
/api/obj/Release/net9.0/api.GeneratedMSBuildEditorConfig.editorconfig
/api/obj/Release/net9.0/api.GlobalUsings.g.cs
